.comment-container {
  margin-bottom: 0.1vw;
  padding: 1vw;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  animation: bounce-in 0.5s forwards;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

  .image {
    display: flex;
    margin: 5px 0.5vw auto 0;
    width: 50px;
    min-width: 50px;
    height: 50px;
    border: 2px solid var(--gray);
    border-radius: 100%;

    .user-first-latter {
      margin: auto;
    }
  }

  .comment {
    display: flex;
    flex-direction: column;

    .row-1 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      .left {
        display: flex;
        flex-direction: row;
      }
    }
  }

  .comment {
    background-color: lighten($color: #222222, $amount: 3%);
    border-radius: 5px;
    flex-grow: 1;
    padding: 5px 1vmin;
    color: var(--light);

    .title {
      margin-right: 15px;
    }

    .user {
      margin-top: auto;
      color: var(--gray);
      font-size: 0.8em;
    }

    .reply {
      background-color: lighten($color: #222222, $amount: 5%);
      border-radius: 5px;
      width: fit-content;
      padding: 0 10px;
      font-size: 0.9em;
      margin: 2px 0;

      .reply-label {
        color: var(--gray);
        font-size: 0.8em;
        padding-right:7px;
      }

      .reply-title {
        color: var(--light2);
        padding-right:7px;
      }

      .reply-user {
        color: var(--light2);
      }
    }

    .text {
      grid-column: 1 / span 3;
      font-size: 0.8em;
    }

    .time {
      color: var(--gray);
      font-size: 0.8em;
    }
  }
}

.shift {
  margin-left: 50px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    background-color: transparent;
    font-size: 1.2em;
    color: var(--light2);
    border: none;

    &:hover {
      color: var(--light);
    }
    &:hover {
      .delete {
        color: var(--red);
      }
    }
  }
}

@keyframes bounce-in {
  0%   { transform: scale(1,1)      translateX(-100%); }
  30%  { transform: scale(1.1,.9)   translateX(0); }
  40%  { transform: scale(.9,1.1)   translateX(-10px); }
  60%  { transform: scale(1.05,.95) translateX(0); }
  100% { transform: scale(1,1)      translateX(0); }
}
